*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.17px;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 25px;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 2px;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 25px;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;
  display: grid;
  grid-template-rows: 72px 1fr 250px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

.row {
  width: 100%;
  height: 600px;
}

#header {
  grid-area: header;
  width: 100%;
  position: relative;
}
#header .navbar {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 16.5rem;
}
@media (max-width: 1020px) {
  #header .navbar {
    padding-inline: 4rem;
  }
}
@media (max-width: 375px) {
  #header .navbar {
    padding-inline: 2.4rem;
  }
}
#header .navbar__nav-items {
  display: flex;
  gap: 3.7rem;
}
@media (max-width: 768px) {
  #header .navbar__nav-items {
    display: none;
  }
}
#header .navbar .nav-link {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  transition: color 200ms ease-in-out;
}
#header .navbar .nav-link:hover {
  color: #dfdfdf;
}
#header .navbar__invite-btn {
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}
#header .navbar__invite-btn:hover {
  background-color: #dfdfdf;
  color: #000;
}
@media (max-width: 768px) {
  #header .navbar__invite-btn {
    display: none;
  }
}
#header .navbar__toggle-menu {
  width: 2rem;
  height: 2.5rem;
  display: none;
}
@media (max-width: 768px) {
  #header .navbar__toggle-menu {
    display: block;
    cursor: pointer;
  }
}

.mobile-menu {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
@media (min-width: 770px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .navbar {
  width: 100%;
  background-color: #fff;
  z-index: 300;
  padding-bottom: 3.2rem;
}
.mobile-menu .navbar__inner-content {
  height: 100%;
  margin-inline: auto;
  padding: 3.2rem 3.2rem 3.2rem 3.3rem;
  text-align: center;
}
.mobile-menu .navbar__nav-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.mobile-menu .navbar .nav-link {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000;
}
.mobile-menu .navbar__line {
  display: block;
  margin-top: 2.6rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  max-width: 300px;
  width: 100%;
  height: 1px;
  background-color: #979797;
}
.mobile-menu .navbar__invite-btn {
  max-width: 300px;
  width: 100%;
  height: 4.8rem;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 20px;
  text-transform: uppercase;
}

.open {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}
