@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.mobile-table {
  max-width: 570px;
  width: 100%;
  margin: 6.4rem auto;
  padding-inline: 1rem;
  display: none;

  @include media(570px) {
    display: block;
  }

  &__header {
    padding-bottom: 2.7rem;
    border-bottom: 1px solid $black;

    h4 {
      text-transform: uppercase;
    }
  }

  &__row {
    padding: 2rem 0;
    h4 {
      padding-bottom: 2rem;
    }

    .plan-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid $light-gray;

      p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        line-height: 13px;
        letter-spacing: 1.66667px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
        padding-bottom: 1rem;
      }
    }
  }
}
