@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.compare {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 16rem;
  margin-bottom: 6rem;

  @include media(570px) {
    display: none;
  }

  h1 {
    margin-bottom: 5.6rem;
  }

  &__table {
    width: 731px;
    border-collapse: collapse;

    thead tr th {
      border-bottom: 1px solid $black;
    }

    th,
    td {
      padding: 2.3rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 15.62px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    tbody tr td {
      border-bottom: 1px solid $light-gray;
    }

    thead tr th:first-child {
      text-align: left;
    }

    tbody tr td:not(:first-child),
    thead tr th:not(:first-child) {
      text-align: center;
    }
  }
}
